body{
    display: flex;
    justify-content: center;
    font-family: "Poppins",Arial,sans-serif;
    background: #f8f9fa;
}
table{
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}
table td, table th{
    padding: 20px 30px;
} 
tbody tr:nth-child(odd) {
    background-color: #dee2e6;
}
tbody tr td{
    text-align: left;
}
.btn{
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
}
.p{
    background-color: #28a745;
    border: 1px solid #57ce73;
}
.o{
    background-color: #ffc107;
    border: 1px solid #ddc270;

}
.h{
    background-color: #dc3545;
    border: 1px solid #C81C2A;
}
tfoot td:first-child{
    text-align: right;
}
tfoot{
    font-weight: 600;
}
.p:hover{
    background-color: #144e1c;
}
